#title{
    text-align: center;
}

#description{
    text-align: center;
}
#survey-form{
  margin: auto;
  width: 75%;
  background: #8e50cf;
  padding: 30px;
  padding-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

#name, #email, #number{
    width: 100%;
}

.optional{
    font-size: 18px;
}
#survey-form select{
  width: 100%;
}

#additional-comments{
  display: block;
}

textarea {
  display: block;
  width: 100%;
}
